!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title InstaRails
    = csrf_meta_tags
    = stylesheet_link_tag    'application'
  %body
    .container
      = render partial: '/layouts/navigation'

      = yield

    %p.notice= notice
    %p.alert= alert

    = javascript_include_tag 'application'
    = yield :javascript_includes
